body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}


.Main {
    display: flex;
    flex-direction: row-reverse; 
    width: 1280px;
    margin: 0 auto;
} /*  row-reverse чтобы контейнер с текстом переместился влево( по умолчанию выстроит вправо) */


/* White_Block styles */

.White_Block {
    background-color: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}


/* about styles */

.about {
    margin-bottom: 40px;
}

.about_position {
    height: 17px;
    left: 498px;
    top: 142px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 19px;    
}

.about_name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
}

/* about projects */

.Projects {
    margin-bottom: 50px;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
}

.Projects_list {
    padding: 0;
    margin-left: 18px;
}

.points_white {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project_link {
    margin-left: 10px;
}

.project_bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

/* about work */

.Work {
    margin-bottom: 43px;
}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 11px;
}

.organization{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 11px;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work_list {
    padding: 0;
    margin-left: 18px;
    
}

.points_2 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}


/* about education */

.Education {

}

.spec {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 12px;
}

/* aside styles */
.Aside {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}

.Photo {
    padding: 20px 0 40px 0;
    margin-bottom: 50px;
    width: 370px;
    height: 440px;
}

/* можно вписать классы к которым нужно применить нужные стили через запятую */
.Contacts,
.Tech_skills,
.Soft_skills {
    margin: 40px;
}

.Contacts {
    margin-bottom: 50px;
}

.Tech_skills {
    margin-bottom: 45px;
}

.Sidebar_title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}

.contact_type {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}

.contact_link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384250;
}

.tech_list {
    padding: 0;
    margin-left: 19px;
}

.soft_list {
    padding: 0;
    margin-left: 19px;
}

.points {
    color: #FB6D3A;
}

.tech_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft_skills_text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

